*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
#header{
  background:#D52047 ;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 0;
  &--one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
      font-weight: 700;
      font-size: 18px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-left: 10px;
    }
  }
  &--two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
      font-weight: 700;
      font-size: 14px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-left: 15px;
    }
  }
  &--tree{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
      font-weight: 400;
      font-size: 14px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 0 10px;
    }
    button{
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 10px 20px;
      border: 1px solid #FFFFFF;
      border-radius: 6px;
      margin-left: 18px;
      background: #D52047;
    }
  }
}
#hero{
  background: url("../img/1bg.png") ;
  min-height: 100vh;
}
.hero{
  &--cloud{
    button {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    button {
      background: #FFFFFF;
      border-radius: 6px;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      padding: 20px 50px;
      color: #ED4C5C;
      border:none;
      margin-left: 530px;
    }
    p{
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      text-align: center;
      color: #FFFFFF;
      padding: 40px 0;
    }
    h1{
      font-weight: 700;
      font-size: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-top: 200px;
    }
  }
}